/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
php_portable/
cloudflared.exe
cf.exe
composer.phar
*.log
%~dp0*
/bootstrap/cache/*.php
/storage/framework/views/*.php
/storage/framework/cache/data/*
/storage/framework/sessions/*
/database/*.sqlite-shm
/database/*.sqlite-wal
